apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: yukta282003/myapp:71a9a4bb5d355a3a7bd1a7c371668249773f5b2c
        ports:
        - containerPort: 3000
