apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: yukta282003/myapp:18604dc6d9b3c939b2f75cb87f262cbbe5ac68f5
        ports:
        - containerPort: 3000
